@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans&family=Square+Peg&display=swap');
.mainHome{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
.headingHome{
    font-family: Sofia Sans;
    position: absolute;
    top: 40%;
    left: 30%;
}
.btn1{
    font-family: Sofia Sans;
    color: black;
    background-color: bisque;
    position: absolute;
    top: 50%;
    left: 45%;
}